.flow-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 0, 0);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 0;

  font-size: 40px;
  font-weight: bolder;
  color: #f4f4f4;
}

.animation-red-circle {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  max-height: 2400px;
  background-color: rgb(240, 0, 0);
  border-radius: 50%;

  z-index: -5;
  text-align: center;
  align-content: center;
  color: #f4f4f4;
  font-size: 32px;
  transition: 0.2s ease-in-out;
}
