.flow-page {
  display: flex;
  flex-direction: column;
}
// FIX height and margin values for media device stuff.. also the NAME !
.animation-container-position {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 220vh;
  margin-top: -110vh;
  margin-bottom: -110vh;
  position: relative;
  overflow: hidden;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 0, 0);
  width: 100px;
  height: 100px;

  border-radius: 50%;
  z-index: 0;

  font-size: 40px;
  font-weight: bolder;
  color: #f4f4f4;
}

.animation-red-circle {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);

  background-color: rgb(230, 0, 0);
  border-radius: 50%;

  z-index: -5;
  text-align: center;
  align-content: center;
  color: #f4f4f4;
  font-size: 32px;
  transition: 0.4s ease-out;
}
