.flow-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  overflow: hidden;
  margin: 60px 0px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 2;

  &.has-image {
    filter: brightness(0.85);
    padding: 10vw 0;
    min-height: 340px;
    z-index: 2;
  }
}
