.searchBar-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-light);
  .dark & {
    background-color: var(--background-color-dark);
  }
}

.searchBar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .searchBar-logo {
    display: flex;
    margin-left: 4vw;
    margin-right: 100px;
    transition: 1.2s ease-out;

    cursor: pointer;
    & img {
      width: calc(100px + 3vw);
    }
    &:hover {
      filter: brightness(30%) sepia(100%) saturate(10000%);
      cursor: pointer;
    }
  }

  .searchBar-close-container {
    display: flex;
    position: relative;
    height: 100px;
    width: 100px;

    .searchBar-close-button {
      position: absolute;
      right: 32px;
      top: 48px;

      font-size: 15px;
      font-weight: 100;
      color: gray;
      cursor: pointer;

      .dark & {
        color: #2c313d;
      }

      .searchBar-close-button-icon {
        font-size: 40px;
        color: #2c313d;
        transition: transform 0.6s ease-in-out;
        .dark & {
          color: white;
        }
      }
      .searchBar-close-button-icon:hover {
        transform: rotate(360deg);
      }
    }
  }
}

.searchBar-search {
  display: flex;
  flex-direction: column;
  margin: 6rem 3rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  form {
    display: flex;
    flex-direction: row;
    width: 100%;

    input {
      width: 100%;
      font-size: 20px;
      letter-spacing: 2px;
      border: none;
      outline: 0;
      animation: fadeIn 1.2s ease;

      .closing & {
        animation: fadeOut 1.2s ease;
      }
      background: none;

      &::after {
        color: red;
        border: none;
      }
    }

    button {
      border: none;
      background: none;
      font-size: 32px;
      cursor: pointer;
      transition: 0.3s ease;
      animation: fadeIn 2.8s ease;

      .closing & {
        animation: fadeOut 2.8s ease;
      }

      &:hover {
        color: gray;
      }
    }
  }
  .divider {
    display: flex;
    margin-top: 0.5rem;
    width: 100%;
    border-bottom: 1px solid lightgray;
    animation: moveRightFadeIn 1.7s ease-in-out;

    .closing & {
      animation: moveLeftFadeOut 1.7s ease-in-out;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveRightFadeIn {
  0% {
    scale: 0.1;
    opacity: 0;
    transform: translateX(-2000px);
  }

  100% {
    scale: 1;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveLeftFadeOut {
  0% {
    scale: 1;
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    scale: 0.1;
    opacity: 0;
    transform: translateX(-2000px);
  }
}
