.flow-header-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  overflow: hidden;
}

.flow-header-title {
  margin-top: 32px;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.flow-header-text {
  margin: 16px 0px;
  font-weight: 500;
  width: 90%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
