:root {
  --background-color-light: #f4f4f4;
  --background-color-dark: #222733;
  --text-color-light: #303030;
  --text-color-dark: #cecece;
}

.App {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  overflow: hidden;
  background-color: var(--background-color-light);
  transition: background-color 0.3s;
  &.dark {
    background-color: var(--background-color-dark);
  }
}

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
