.footer {
  display: flex;
  flex-direction: column;
}

.footer-connect {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 6rem 0rem;
  align-items: center;
}

.footer-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    pointer-events: none;

    z-index: 1;
    filter: brightness(0.4);
  }
}

.footer-connect-left {
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: 100%;
  width: 100%;
  color: white;
  margin: 0rem 1.5rem;
  .footer-connect-title {
    display: flex;
    margin-top: 0px;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 14px;
  }
  .footer-connect-subTitle {
    display: flex;
    font-weight: 500;
    width: 90%;
    letter-spacing: 4px;
    font-size: 30px;
  }
}

.footer-connect-right {
  display: flex;
  flex-direction: column;

  z-index: 2;
  height: 100%;
  width: 100%;
  color: white;
  margin: 0rem 1.5rem;
  .footer-connect-text {
    display: flex;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 200;
    color: var(--text-color-dark);
  }
  .footer-connect-button {
    display: flex;
    margin-top: 2rem;
    padding: 1rem 2rem;
    width: 200px;
    border-radius: 99px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: red;
    border: none;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      width: 250px;
      background-color: rgb(167, 0, 0);
    }
  }
}

.footer-contact {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  width: 100%;
  height: 100%;
  padding: 4rem 1.5rem;
  .footer-home-logo {
    transition: 1.2s ease-out;
    &:hover {
      filter: brightness(30%) sepia(100%) saturate(10000%);
      cursor: pointer;
      width: 250px;
    }
  }
  .footer-contact-text {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 14px;
  }
  .footer-contact-button {
    display: flex;
    margin: 1rem 0rem;
    height: 40px;
    width: 200px;
    border-radius: 99px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: red;
    border: none;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      width: 250px;
      background-color: rgb(167, 0, 0);
    }
  }
  .footer-contact-socials {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;

    * {
      border: 1px solid white;
      border-radius: 100%;
      font-size: 36px;
      padding: 10px;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: rgb(122, 0, 0);
        cursor: pointer;
      }
    }
  }
}

.footer-links {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 4rem;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  border-bottom: 0.5px solid var(--text-color-dark);
  .footer-links-item {
    .footer-links-main {
      color: white;
    }
    .footer-links-extraItem {
      font-size: 14px;
      font-weight: 200;
      width: 15vw;
      margin-top: 1rem;
      color: var(--text-color-dark);
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}

.footer-rights {
  display: flex;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 1.5rem 1.5rem;
}
